style.
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

    body {
        font-family: 'Arial', sans-serif;
    }

    .loader {
        background: #f7f7f7 url('/img/loader.gif') no-repeat center center;
        background-size: 20%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
        opacity: 0.62;
    }

    .alert {
        z-index: 100;
    }